@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="d-flex top-row px-4">
            <div class="p-2 me-auto">@Title</div>

            <div class="ml-auto p-2">
                <CultureSelector />
            </div>

            <div class="p-2">
                <a href="https://docs.microsoft.com/aspnet/"
                   target="_blank">About</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
